@charset "utf-8";
/* CSS Document */
html{
	text-align: center;	
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
div#mover {
	margin-top: 100px;	
}
h3 {
display: none;	
color: white;
font-family:Tahoma, Geneva, sans-serif;
margin-top: 25px;
}
button {
background-color: #3CF;
padding: 10px 15px;
border-radius: 10px;
box-shadow: 0 0 10px -1px black;
border: 2px solid #36F;
cursor: pointer;
color: white;	
}
button:hover {
background-color:#36F;
color: white;	
}
